/* Table */

.table {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

.table-buttons {
    text-align: right;   
}

.table-buttons form {
    display: contents;
}

/* Pagination */

.page-item.active .page-link {
    background-color: #343a40;
    border-color: #2d3338;
}

.page-link:hover {
    color: inherit;
}

.page-link:focus {
    box-shadow: none;
}

.pagination > li > a,
.pagination > li > span {
    color: #000;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #2d3338;
    border-color: #1e2225;
}

/* Alerts */

#alert-box {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 25%;
    margin: 0 10px 10px 0;
    font-size: 14px;
}